.fileman {
	padding-top: 100px;
	padding-bottom: 25px;
}

.fileman-files {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	white-space: nowrap;
}
.fileman-files th, .fileman-files td {
	text-align: right;
}
.fileman-files th:first-child, .fileman-files td:first-child {
	text-align: left;
}
.fileman-files-item-icon {
	font-size: 24px;
	vertical-align: middle;
}
.fileman-files-item-preview {
	display: inline-block;
	width: 1.28571429em;
	height: 24px;
	background-position: center center;
	background-repeat: no-repeat;

	line-height: 1;
	text-align: center;
}
.fileman-files-item.is-read-only {
	color: #777;
}
.fileman-files-item.is-read-only .fileman-files-item-link {
	color: #777;
}
.fileman-files-item.is-read-only .fileman-files-item-icon {
	position: relative;
	color: #333;
}
.fileman-files-item.is-read-only .fileman-files-item-icon:after {
	position: absolute;
	right: 2px;
	bottom: 0;
	content: "\f023";
	font: normal normal normal 14px/1 FontAwesome;
	color: #f0ad4e;
	z-index: 10;
}
.fileman-files-item.is-selected {
	background-color: #428bca !important;
	color: #fff !important;
}
.fileman-files-item.is-selected .fileman-files-item-link {
	color: #fff !important;
}
.fileman-files-item.is-selected .fileman-files-item-icon {
	color: #fff;
}

/* upload */
.fileman-upload-files {
	border: 1px solid #b9b9b9;
}
.fileman-upload-file {
	position: relative;
	height: 36px;

	line-height: 35px;
	white-space: nowrap;

	padding: 0 5px;
	border-top: 1px solid #ddd;
}
.fileman-upload-file:first-child {
	height: 35px;

	border-top: none;
}
.fileman-upload-file-inner {
	position: relative;

	z-index: 10;
}
.fileman-upload-file-name {
	text-overflow: ellipsis;
}
.fileman-upload-file-progress {
	position: absolute;
	left: 0;
	top: 0;
	height: 35px;
	background-color: #d9edf7;

	z-index: 9;
}
.fileman-upload-file.is-done .fileman-upload-file-progress {
	background-color: #ebffd9;
}
.fileman-upload-file.is-error .fileman-upload-file-progress {
	background-color: #fce3e3;
}
.fileman-upload-file-size {
	font-size: 12px;
	color: #888;
}

.fileman-statusbar {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f8f8f8;
	color: #777;
	border-top: 1px solid #e7e7e7;
	z-index: 100;
}
.fileman-statusbar-inner {
	padding: 5px 15px;
}

.fileman-code {

	overflow-x: auto;

}
.fileman-code code {
	word-break: normal;
	word-wrap: normal;
	white-space: pre;
}

.fileman-file-info-icon {
	font-size: 80px;
}

.fileman-header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
}

.fileman-navbar {
	margin: 0;
}
.fileman-navbar-nav + .fileman-navbar-nav {
	border-left: 1px solid #e7e7e7;
}
.fileman-navbar-nav-link {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.fileman-breadcrumbs {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	border-radius: 0;
	margin: 0;
}

/* tree dialog */
.fileman-tree {
	font-size: 14px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.fileman-tree li {
	padding-left: 20px;
	margin-bottom: 2px;
}
.fileman-tree a {
	outline: none;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.fileman-tree .node .node-content {
	padding-left: 2px;
	margin-left: 14px;
}
.fileman-tree-item {
	cursor: pointer;
}