<ul ng-hide="node.collapsed" class="list-unstyled">
    <li class="node" ng-repeat="node in node.$children">
        <div ng-show="node.$hasChildren">
            <a ng-show="node.collapsed" class="pull-left" ng-click="expand($event, node)"><i
                    class="fa fa-plus-square-o"></i></a>
            <a ng-hide="node.collapsed" class="pull-left" ng-click="collapse($event, node)"><i
                    class="fa fa-minus-square-o"></i></a>
        </div>
        <div class="node-content clearfix" ya-transclude ng-click="selectNode($event, node)"
             ng-dblclick="dblClick($event, node)"></div>
        <div ya-node class="ya-node"></div>
    </li>
</ul>
