<ol class="breadcrumb fileman-breadcrumbs">
	<li ng-repeat="item in breadcrumbs" ng-class="{active: $last}"><a ng-if="!$last" ng-href="#/home{{item.path}}">{{item.name}}</a><span ng-if="$last">{{item.name}}</span></li>
</ol>