<a ng-click="setOrder()">
	<span ng-transclude></span>
	<span class="glyphicon glyphicon-triangle-top" ng-if="isOrder() || isReverseOrder()" ng-class="{
			'glyphicon-triangle-top': isOrder(),
			'glyphicon-triangle-bottom': isReverseOrder()
			}"></span>
</a>