<div class="fileman-header">
	<nav class="fileman-navbar navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<ul class="fileman-navbar-nav nav navbar-nav" ng-if="list.canChoose()">
				<li><a class="fileman-navbar-nav-link" ng-click="list.choose()"><i class="fa fa-check"></i> Select</a></li>
			</ul>
			<ul class="fileman-navbar-nav nav navbar-nav" ng-if="!list.isReadOnly() && list.currentDir.writable">
				<li><a class="fileman-navbar-nav-link" ng-click="list.upload()"><i class="fa fa-upload"></i> Upload</a></li>
				<li><a class="fileman-navbar-nav-link" ng-click="list.mkdir()"><i class="fa fa-folder-o"></i> New directory</a></li>
			</ul>

			<ul class="fileman-navbar-nav nav navbar-nav" ng-show="list.hasSelectedFiles()">
				<li><a class="fileman-navbar-nav-link" ng-click="list.download()" ng-show="list.hasSingleFileSelected()"><i class="fa fa-download"></i> Download</a></li>
				<li><a class="fileman-navbar-nav-link" ng-click="list.rename()" ng-show="!list.hasMultiselectedFiles() && !list.isReadOnly()"><i class="fa fa-i-cursor"></i> Rename</a></li>
				<li><a class="fileman-navbar-nav-link" ng-click="list.delete()" ng-show="!list.isReadOnly()"><i class="fa fa-trash-o"></i> Delete</a></li>
				<li><a class="fileman-navbar-nav-link" ng-click="list.copy()" ng-show="!list.isReadOnly()"><i class="fa fa-files-o"></i> Copy</a></li>
				<li><a class="fileman-navbar-nav-link" ng-click="list.move()" ng-show="!list.isReadOnly()"><i class="fa fa-share-square-o"></i> Move</a></li>
				<li><a class="fileman-navbar-nav-link" ng-click="list.resize()" ng-show="list.hasSingleImageSelected() && !list.isReadOnly()"><i class="fa fa-picture-o"></i> Resize</a></li>
				<li><a class="fileman-navbar-nav-link" ng-click="list.unpack()" ng-show="list.hasSingleArchiveSelected() && !list.isReadOnly()"><i class="fa fa-file-archive-o"></i> Unpack</a></li>
				<li><a class="fileman-navbar-nav-link" ng-click="list.zip()" ng-show="!list.hasSingleArchiveSelected() && !list.isReadOnly()"><i class="fa fa-file-archive-o"></i> Zip</a></li>
			</ul>
		</div><!-- /.container-fluid -->
	</nav>

	<fm-breadcrumbs path="list.path"></fm-breadcrumbs>
</div>

<table class="table table-hover fileman-files">
	<thead>
	<tr>
		<th fm-order order="list.SORT_NAME">Name</th>
		<th fm-order order="list.SORT_SIZE">Size</th>
		<th fm-order order="list.SORT_DATE">Modified</th>
		<th fm-order order="list.SORT_TYPE">Type</th>
	</tr>
	</thead>
	<tbody>
	<tr class="fileman-files-item" ng-repeat="file in list.files" ng-click="list.selectFile($event, file)" ng-class="{
		'is-selected': file.isSelected(),
		'is-read-only': !file.writable
	}">
		<td class="fileman-files-item-name">
			<span class="fileman-files-item-icon fileman-files-item-preview" style="background-image: url('{{ file.thumbnail(24, 24, true) }}')" ng-if="file.isImage()"></span>
			<i class="fileman-icon fileman-files-item-icon fa fa-fw {{ list.iconClass(file) }}" ng-if="!file.isImage()"></i>
			<a class="fileman-files-item-link" ng-href="#/home{{file.path}}" ng-if="file.isDir">{{file.name}}</a>
			<a class="fileman-files-item-link" ng-click="list.preview(file)" ng-if="!file.isDir">{{file.name}}</a>
		</td>
		<td>{{file.size | bytes}}</td>
		<td>{{file.mtime * 1000 | date:'yyyy-MM-dd, HH:mm:ss'}}</td>
		<td>{{file.mime}}</td>
	</tr>
	</tbody>
</table>

<div class="fileman-statusbar">
	<div class="fileman-statusbar-inner">{{ list.status() }}</div>
</div>