	<div class="modal-header">
		<button type="button" class="close" ng-click="dialog.cancel()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">File info</h4>
	</div>
	<div class="modal-body">
		<p class="text-center"><i class="fileman-icon fileman-file-info-icon fa fa-fw {{ dialog.iconClass() }}"></i></p>

		<p class="text-center"><b>{{ dialog.file.name }}</b></p>

		<table class="table table-bordered">
			<tbody>
			<tr>
				<td class="text-right">Size:</td>
				<td>{{ dialog.file.size | bytes }}</td>
			</tr>
			<tr>
				<td class="text-right">Path:</td>
				<td>
					<div style="word-break: break-all;"><code>{{ dialog.file.path }}</code></div>
				</td>
			</tr>
			<tr>
				<td class="text-right">Modified:</td>
				<td>{{ dialog.file.mtime * 1000 | date:'yyyy-MM-dd, HH:mm:ss' }}</td>
			</tr>
			<tr>
				<td class="text-right">Type:</td>
				<td>{{ dialog.file.mime }}</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" ng-click="dialog.download()">Download</button>
		<button type="button" class="btn btn-default" ng-click="dialog.cancel()">Close</button>
	</div>