<form name="mkdirForm" class="form" novalidate ng-submit="mkdirForm.$valid && dialog.ok()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="dialog.cancel()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Create a new directory</h4>
	</div>
	<div class="modal-body">
		<div class="form-group" show-errors>
			<label>Directory name</label>
			<input type="text" class="form-control" name="name" autofocus required ng-model="dialog.name" fm-valid-filename>

			<span class="help-block" ng-if="mkdirForm.name.$error.required">Directory name is required</span>
			<span class="help-block" ng-if="mkdirForm.name.$error.fmValidFilename">Directory name contain invalid characters</span>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">Create</button>
		<button type="button" class="btn btn-default" ng-click="dialog.cancel()">Cancel</button>
	</div>
</form>