<form name="renameForm" class="form" novalidate ng-submit="renameForm.$valid && dialog.ok()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="dialog.cancel()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" ng-if="dialog.isDir">Rename directory</h4>
		<h4 class="modal-title" ng-if="!dialog.isDir">Rename file</h4>
	</div>
	<div class="modal-body">
		<div class="form-group" show-errors>
			<label ng-if="dialog.isDir">Directory name</label>
			<label ng-if="!dialog.isDir">File name</label>
			<input type="text" class="form-control" name="name" required ng-model="dialog.name" fm-valid-filename fm-select-filename="!dialog.isDir">

			<span class="help-block" ng-if="renameForm.name.$error.required">Name is required</span>
			<span class="help-block" ng-if="renameForm.name.$error.fmValidFilename">Name contain invalid characters</span>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">Rename</button>
		<button type="button" class="btn btn-default" ng-click="dialog.cancel()">Cancel</button>
	</div>
</form>