<form name="resizeForm" class="form" novalidate ng-submit="resizeForm.$valid && dialog.ok()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="dialog.cancel()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Resize image "{{ dialog.file.name }}"</h4>
	</div>
	<div class="modal-body">
		<div class="form-group" show-errors>
			<label>Image width</label>
			<input type="number" min="1" class="form-control" name="width" autofocus required ng-model="dialog.width" ng-keyup="dialog.calcHeight()">
		</div>

		<div class="form-group" show-errors>
			<label>Image height</label>
			<input type="number" min="1" class="form-control" name="height" required ng-model="dialog.height" ng-keyup="dialog.calcWidth()">
		</div>

		<div class="checkbox">
			<label>
				<input type="checkbox" name="new_image" ng-model="dialog.newImage"> Create new image
			</label>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">Resize</button>
		<button type="button" class="btn btn-default" ng-click="dialog.reset()">Reset</button>
		<button type="button" class="btn btn-default" ng-click="dialog.cancel()">Cancel</button>
	</div>
</form>