<div class="modal-header">
	<button type="button" class="close" ng-click="dialog.cancel()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">{{dialog.file.name}}</h4>
</div>
<div class="modal-body">
	<i class="fa fa-circle-o-notch fa-spin fa-2x" ng-if="dialog.isLoading"></i>
	<div class="fileman-code" ng-if="!dialog.isLoading" fm-highlight fm-highlight-source="dialog.content" fm-highlight-lang="{{ dialog.fileLang() }}"></div>
</div>