<div class="modal-header">
	<button type="button" class="close" ng-click="dialog.cancel()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">{{ dialog.title }}</h4>
</div>
<div class="modal-body">
	<div ya-treeview ya-id="filemanTree" ya-model="dialog.tree" ya-options="dialog.options" ya-context="dialog.context">
		<span class="fileman-tree-item" ng-class="{'text-primary': context.isSelected(node)}"><i class="fa fa-folder-o"></i> {{ node.$model.name }}</span>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-class="{disabled: !dialog.hasSelection()}" ng-click="dialog.ok()">Select</button>
	<button type="button" class="btn btn-default" ng-click="dialog.cancel()">Cancel</button>
</div>