<form name="uploadForm" class="form" novalidate ngf-drop="dialog.upload($files, $invalidFiles)" ngf-multiple="true" >
	<div class="modal-header">
		<button type="button" class="close" ng-click="dialog.cancel()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Upload files</h4>
	</div>
	<div class="modal-body">
		<p>Choose files to upload. You can select more than one file at a time. You can also drag and drop files
			anywhere on this dialog to start uploading.</p>

		<p ng-show="dialog.maxSize">Max file size: <b>{{ dialog.maxSize | bytes }}</b></p>

		<div class="fileman-upload-files" ng-show="dialog.files.length">
			<div class="fileman-upload-file" ng-repeat="file in dialog.files" ng-class="{'is-done': file.done, 'is-error': file.$error}">
				<div class="fileman-upload-file-progress" style="width:{{ file.progress }}%;"></div>
				<div class="fileman-upload-file-inner">
					<div class="fileman-upload-file-name">{{file.name}} <span class="fileman-upload-file-size" ng-if="file.done">- {{  file.size | bytes }}</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" multiple ngf-select="dialog.upload($files, $invalidFiles)">Choose files</button>
		<button type="button" class="btn btn-default" ng-click="dialog.cancel()">Cancel</button>
	</div>
</form>