<div class="modal-header">
	<button type="button" class="close" ng-click="dialog.no()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">{{ dialog.title }}</h4>
</div>
<div class="modal-body">{{ dialog.message }}</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-click="dialog.yes()">Yes</button>
	<button type="button" class="btn btn-default" ng-click="dialog.no()">No</button>
</div>