<form name="zipForm" class="form" novalidate ng-submit="zipForm.$valid && dialog.ok()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="dialog.cancel()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Create ZIP archive</h4>
	</div>
	<div class="modal-body">
		<div class="form-group" show-errors>
			<label>Archive name</label>
			<div class="input-group">
				<input type="text" class="form-control" name="name" autofocus required ng-model="dialog.name" valid-file-name>
				<span class="input-group-addon" id="basic-addon2">.zip</span>
			</div>

			<span class="help-block" ng-if="zipForm.name.$error.required">Archive name is required</span>
			<span class="help-block" ng-if="zipForm.name.$error.validFileName">Archive name contain invalid characters</span>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">Create</button>
		<button type="button" class="btn btn-default" ng-click="dialog.cancel()">Cancel</button>
	</div>
</form>